{% extends 'base.html' %}
{% load ias_filter %}
{% block content %}
<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Article -->
    <h2 class="border-bottom py-2">{{ ai.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ ai.content|mark }}</div>
            <div class="d-flex justify-content-end">
<!--                {% if ai.modify_date %}-->
<!--                <div class="badge bg-light text-dark p-2 text-start mx-3">-->
<!--                    <div class="mb-2">modified at</div>-->
<!--                    <div>{{ ai.modify_date }}</div>-->
<!--                </div>-->
<!--                {% endif %}-->
<!--                <div class="badge bg-light text-dark p-2 text-start">-->
<!--                    <div class="mb-2">{{ ai.author.username }}</div>-->
<!--                    <div>{{ ai.create_date }}</div>-->
<!--                </div>-->
            </div>
            <div class="my-3">
<!--                   class="recommend btn btn-sm btn-outline-secondary"> Recommend-->
<!--                    <span class="badge rounded-pill bg-success">{{ai.voter.count}}</span>-->
<!--                </a>-->
<!--&lt;!&ndash;                {% if request.user == ai.author %}&ndash;&gt;-->
<!--                <a href="{% url 'ias:ai_modify' ai.id  %}"-->
<!--                   class="btn btn-sm btn-outline-secondary">Edit</a>-->
<!--                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"-->
<!--                   data-uri="{% url 'ias:ai_delete' ai.id  %}">Delete</a>-->
<!--                {% endif %}-->
            </div>
        </div>
    </div>
    <form action="{% url 'ias:input_create' ai.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="content" class="form-label">Input</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
                      name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="Register Input" class="btn btn-primary">
    </form>
    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">{{ai.input_set.count}} Responses</h5>
    {% for input in ai.input_set.all reversed %}
    <a id="input_{{ input.id }}"></a>
    <div class="card my-3 {% if input.isTheSame %}border-3 border-success{% else %}border-2 border-danger{% endif %}">
        <div class="card-body">
        {% if input.isTheSame %}
        <div class="card-text">
            {% if input.errCheckedStr %}
            <pre class="pre-wrap">{{ input.errCheckedStr|mark }}</pre>
            {% elif input.content %}
            <pre class="pre-wrap">{{ input.content|mark }}</pre>
            {% endif %}</div>
        <div class="d-flex justify-content-end">
            {% if input.modify_date %}
            <div class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">modified at</div>
                <div>{{ input.modify_date }}</div>
            </div>
            {% endif %}
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{ input.author.username }}</div>
                <div>{{ input.create_date }}</div>
            </div>
        </div>
        <div class="my-3">
            <a href="javascript:void(0)" data-uri="{% url 'ias:input_vote' input.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> Recommend
                <span class="badge rounded-pill bg-success">{{input.voter.count}}</span>
            </a>
            {% if request.user == input.author %}
            <a href="{% url 'ias:input_modify' input.id  %}"
               class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'ias:input_delete' input.id  %}">Delete</a>
            {% endif %}
        </div>
        {% else %}
        <!-- Handle the case when input.isTheSame is false -->
        <div class="card-text">
            {% if input.errCheckedStr %}
            <pre class="pre-wrap">{{ input.errCheckedStr|mark }}</pre>
            {% elif input.content %}
            <pre class="pre-wrap">{{ input.content|mark }}</pre>
            {% endif %}</div>
        <div class="d-flex justify-content-end">
            {% if input.modify_date %}
            <div class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">modified at</div>
                <div>{{ input.modify_date }}</div>
            </div>
            {% endif %}
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{ input.author.username }}</div>
                <div>{{ input.create_date }}</div>
            </div>
        </div>
        <div class="my-3">
            <a href="javascript:void(0)" data-uri="{% url 'ias:input_vote' input.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> Recommend
                <span class="badge rounded-pill bg-success">{{input.voter.count}}</span>
            </a>
            {% if request.user == input.author %}
            <a href="{% url 'ias:input_modify' input.id  %}"
               class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'ias:input_delete' input.id  %}">Delete</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}


</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("Sure to delete?")) {
            location.href = this.dataset.uri;
        };
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("Sure to recommend?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}
