{% extends 'base.html' %}
{% load ias_filter %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
<!--        <div class="col-6">-->
<!--        </div>-->
        <div class="col-md-6">
            <div class="input-group">
                <form id="topicForm" method="get" action="{% url 'ias:ai_create' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" id="topic_input" name="topic" class="form-control" placeholder="Enter Topic">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Generate by AI</button>
                    </div>
                </div>
            </form>

            </div>
            <!-- Second input field -->
            <div class="input-group mt-3">
                <input type="text" id="search_kw" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">Search</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>Number</th>
            <th style="width: 50%">Subject</th>
<!--            <th>Author</th>-->
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% if ai_list %}
        {% for ai in ai_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ ai_list.paginator.count|sub:ai_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td class="text-start">
                <a href="{% url 'ias:ai_detail' ai.id %}">{{ ai.subject }}</a>
                {% if ai.input_set.count > 0 %}
                <span class="text-danger small mx-2">{{ ai.input_set.count }}</span>
                {% endif %}
            </td>
<!--            <td>{{ ai.author.username}}</td> &lt;!&ndash; 글쓴이 추가 &ndash;&gt;-->
            <td>{{ ai.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">There's no question.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if ai_list.has_previous %}
        <li class="page-item">
                    <a class="page-link" data-page="{{ ai_list.previous_page_number }}"
           href="javascript:void(0)">Previous</a>

        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Previous</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in ai_list.paginator.page_range %}
        {% if page_number >= ai_list.number|add:-5 and page_number <= ai_list.number|add:5 %}
        {% if page_number == ai_list.number %}
        <li class="page-item active" aria-current="page">
                    <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>

        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if ai_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ ai_list.next_page_number }}"
           href="javascript:void(0)">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}
