{% extends 'base.html' %}
{% load ias_filter %}

{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-md-6">
            <div class="input-group">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="text-center table-dark">
                <th>Week</th>
                <th>Article</th>
                <th>Due Date</th>
                {% for user in users %}
                <th>{{ user }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% if rowData %}
        {% for id, article, due_date, attendance_values in rowData %}
        <tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'ias:ai_detail' id %}">{{ article }}</a></td>
            <td>{{ due_date|add_days:7 }}</td>
            {% for value in attendance_values %}
            <td>
                {% if value %}
                <a>O</a>
                {% else %}
                <a>X</a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">There's no Attendance.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <!-- Previous Page -->
        {% if ai_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ ai_list.previous_page_number }}" href="javascript:void(0)">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Previous</a>
        </li>
        {% endif %}
        <!-- Page Numbers -->
        {% for page_number in ai_list.paginator.page_range %}
        {% if page_number >= ai_list.number|add:-5 and page_number <= ai_list.number|add:5 %}
        {% if page_number == ai_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- Next Page -->
        {% if ai_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ ai_list.next_page_number }}" href="javascript:void(0)">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</div>

<form id="searchForm" method="get" action="{% url 'ai_index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}

{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // Start from page 1 when searching
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}
